* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

.navbar {
    background: linear-gradient(135deg, #d4e0e5 0%, #84b7d4 100%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 28px;
    font-weight: bold;
}

.nav-link {
    font-size: 18px;
    margin-right: 15px;
}

#Home h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

#Home p {
    font-size: 20px;
    margin-bottom: 30px;
}

#Home .btn {
    padding: 12px 40px;
    font-size: 18px;
    border-radius: 30px;
    border: 2px solid white;
}
#About img {
    border: 2px solid #72bce6;
}

#About h2 {
    font-size: 36px;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px; 
}

#About h2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #029de5;
    bottom: -10px;
    left: 0;
}

#About p {
    font-size: 18px;
    color: #555;
    line-height: 1.8;
}

#Skills {
    padding: 80px 0;
    background: linear-gradient(135deg, #055a6d 0%, #4a99e2 100%);
}

#Skills h2 {
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

#Skills .card {
    background: linear-gradient(135deg, #47e3f5 0%, #2ee1de 100%);
    color: rgb(16, 15, 15);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 20px 15px;
}


#Projects h2 {
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

#Projects .card {
    border: none;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

#Projects .card-body {
    background: linear-gradient(135deg, #47e3f5 0%, #2ee1de 100%);
    padding: 20px;
}

#Projects .card-title {
    color: #050505;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#Contact {
    padding: 80px 0 !important;
    background: linear-gradient(135deg, #029de5);
}

#Contact h2 {
    color: #050505;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

#Contact p {
    color: #050505;
    font-size: 18px;
    margin: 5px 0;
}

footer {
    background: linear-gradient(135deg, #47e3f5 0%, #2ee1de 100%);
}

footer p {
    margin: 0;
    font-size: 16px;
}